[Unit]
Description=Fix sound driver bindings and reload systemctl daemon
Before=pulseaudio.service

[Service]
Environment=LAUNCHED_BY_SYSTEMD=1
ExecStartPre=/bin/sleep 1
ExecStart=/usr/local/bin/fix_sound_bindings.sh
RemainAfterExit=True

[Install]
WantedBy=multi-user.target

