[Unit]
Description=Fix sound driver bindings and reload systemctl daemon
Before=pulseaudio.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "
    mount -o bind /vendor/lib64/hw/sound_trigger.primary.kona.so /vendor/lib/hw/sound_trigger.primary.kona.so &&
    mount -o bind /vendor/lib64/soundfx/libqcomvisualizer.so /vendor/lib/soundfx/libqcomvisualizer.so &&
    mount -o bind /vendor/lib64/libqtigef.so /vendor/lib/libqtigef.so &&
    mount -o bind /vendor/lib64/soundfx/libqcompostprocbundle.so /vendor/lib/soundfx/libqcompostprocbundle.so &&
    mount -o bind /vendor/lib64/libfcsam.so /vendor/lib/libfcsam.so;
    systemctl daemon-reload"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
